.home-page {
    padding: 0 20px;
}

.home-page-types { 
    display: flex;
    justify-content: center;
}

.home-page-line {
    margin-top: 20px
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}