.btn {
    height: 40px;
    justify-content: center;
    display: block;
    background: var(--Primary);
    font-size: 1.4em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--Primary);
    color: var(--white);
}

.btn-primary:hover {
    background: var(--Primary-Dark);
}

.btn-secondary {
    background-color: var(--gray);
    color: var(--black);
}

.btn-secondary:hover {
    background: var(--gray-dark);
    color: var(--white);
}

.btn-danger {
    background: var(--Danger);
    color: var(--white);
}

.btn-danger:hover {
    background: var(--Danger-Dark);
}

.btn.circle {
    border-radius: 50%;
}