.profile-user,
.profile-user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-user {
    max-width: 30vw;
    width: 100%;
    padding-top: 20px;
}


.profile-user-data p {
    font-size: 1.8rem;
    padding-top: 10px;
    color: var(--white);
}

.profile-favorite-pets {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 640px) {
    .profile-favorite-pets {
        display: none;
    }
}