.item {
    display: flex;
    justify-content: space-between;
    background-color: var(--Primary);
    max-width: 48%;
    width: -webkit-fill-available;
    height: 110px;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item::-webkit-scrollbar {
    display: none;
}

.item-text {
    font-size: 1.6rem;
    color: var(--white);
    white-space: nowrap;
}

.item-text:not(:last-child):not(:first-child) {
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.item-pet-image {
    width: 55px;
    height: 48px;
    user-select: none;
}

.item-favorite-image {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -14px;
    right: 0;
    cursor: pointer;
}

.item-edit-image {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -14px;
    right: 30px;
    cursor: pointer;
    transition: 1s ease-in;

}

.item-delete-image {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -14px;
    right: 60px;
    cursor: pointer;
    transition: 1s ease-in;
}

.item:hover .item-favorite-image,
.item:hover .item-delete-image,
.item:hover .item-edit-image {
    display: block;

}

@media (max-width: 768px) {
    .item {
        max-width: 100%;
    }
}

@media (max-width: 640px) {

    .item-favorite-image,
    .item-edit-image,
    .item-delete-image {
        display: block;

    }
}