.item {
    display: flex;
    justify-content: space-between;
    background-color: var(--Primary);
    max-width: 30%;
    width: -webkit-fill-available;
    height: 100px;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item::-webkit-scrollbar {
    display: none;
}

.item-text {
    font-size: 1.6rem;
    color: var(--white);
    white-space: nowrap;
}

.item-text:not(:last-child):not(:first-child) {
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-image { 
    width: 65px;
    height: 58px;
}

@media (max-width: 768px) {
    .item {
        max-width: 47%;
    }
}

@media (max-width: 425px) {
    .item {
        max-width: 100%;
    }
}