:root {
  --Primary: #649763;
  --Primary-Dark: #094F08;
  --Danger: #ff0011;
  --Danger-Dark: #c91d12;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --white: #ffffff;
  --black: #000000;
  --gray: #cccccc
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}


